@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    font-size: 0.7em;
}

@media screen and (orientation:portrait) {
    body {
        background-image: url(../imagens/portrait.jpg);
        background-position: center center;
        background-size: contain;
        background-color: rgb(178, 184, 182);
    }
    h1::after {
        content: " Está em retrato";
        color: green;
    }
}

@media screen and (orientation:landscape) {
    body {
        background-image: url(../imagens/landscape.jpg);
        background-size: contain;
        background-position: center center;
        background-color: rgb(178, 184, 182);
    }

    h1::after {
        content: " Está em paisagem";
        color: gold;
    }
}

